<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>To Do List in Vue</title>
  </head>
  <body>

    <div id="app">
        <div class="container mt-5">

            <h3>{{ title }}</h3>

            <input type="text" class="form-control my-3" v-model="newTask" @keyUp.enter="addTask">
            <button class="btn btn-primary" @click="addTask">Agregar</button>

            <div class="mt-3" v-for="(task, index) in tasks">

                <div class="alert" :class="{'alert-primary' : !task.completed, 'alert-success' : task.completed}" role="alert">
                   
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                           {{ index }} - {{ task.msg }}
                        </div>
                        <div>
                            <button class="btn btn-sm btn-success" @click="updateTask(index)">Done</button>
                            <button class="btn btn-sm btn-danger" @click="deleteTask(index)">x</button>
                        </div>
                    </div>
                   
                    
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./app.js"></script>
  </body>
</html>