<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Curso de Vue</title>

    <!-- VIDEOS -->
    <!-- 
        1 - https://www.youtube.com/watch?v=GAQB7Y4X5fM
        2 - https://www.youtube.com/watch?v=vK7JT3nUmFg
        3 - https://www.youtube.com/watch?v=4sF1Kifpaqs
    -->
</head>
<body>
    
    <div id="app">
        <h1>
            {{ titulo }}
        </h1>

        <ul>
            <li v-for="fruta in frutas">
                <input type="number" v-model.number="fruta.cantidad">
                {{ fruta.nombre }} tiene {{ fruta.cantidad }} unidades
                <span v-if="fruta.cantidad === 0"> - SIN STOCK</span>
                <button @click="fruta.cantidad++">+</button>
            </li>
        </ul>

        <h4>
            Total: {{ sumarFrutas }}
        </h4>
        <label for="frutas">Frutas</label>
        <input type="text" v-model="nuevaFruta" @keyUp.enter="agregarFruta">

        <button @click="agregarFruta">Agregar Fruta</button>
        

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./01.js"></script>
</body>
</html>