<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Computed Properties</title>
  </head>
  <body>

    <div id="app">
        <div class="container mt-5">
            <h3>{{ message }}</h3>
            <h3>invertido: {{ invert }}</h3>

            <input type="text" class="form-control" v-model="message">

            <hr>

            <button class="btn btn-primary" @click="counter++">+</button>
            <button class="btn btn-danger" @click="counter--">-</button>

            <h3>{{ counter }}</h3>
            <div class="progress">
                <div class="progress-bar bg-success" 
                    role="progressbar" 
                    aria-valuenow="25" 
                    aria-valuemin="0" 
                    aria-valuemax="100"
                    :style="{ 'width': counter + '%'}"
                    :class="color"
                >
                    {{ counter }}%
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./app.js"></script>
  </body>
</html>