<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/vuex@3.1.1/dist/vuex.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Introducción a Vuex</title>
</head>
<body>
    
    <div id="app" class="container mt-5">
        <titulo></titulo>
    </div>

    <script>
        Vue.component('titulo', {
            template: //html
            `
                <div>
                    <h1>{{ $store.state.numero }}</h1>
                    <hijo></hijo>
                </div>
            `
        })

        Vue.component('hijo', {
            template: //html
            `
                <div>
                    <button @click="$store.commit('aumentar')" class="btn btn-sm btn-primary">+</button>
                    <button @click="$store.commit('disminuir')" class="btn btn-sm btn-danger">-</button>
                </div>
            `
        })

        const store = new Vuex.Store({
            state: {
                numero: 10
            },
            mutations: {
                aumentar() {
                    this.state.numero++
                },
                disminuir() {
                    this.state.numero--
                }
            }
        })

        new Vue({
            el: '#app',
            store
        })
    </script>

</body>
</html>